.grid {
    height: 450px;   
    width: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.turn-heighlight {
    color: white
}